@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
html, body{
  height:100%;
  width:100%;
}
body{
  /* background:linear-gradient(160deg,rgb(167, 254, 236) 6em,white 44em); */
  font-family: 'Century Gothic';
}
/* FRONT PAGE */
#navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  position: absolute;
  z-index: 2;
  /* background-color: rgb(167, 254, 236); */
  left:50%; 
  transform: translateX(-50%);
  
}
#menu-button{
  display: none;
}
#navbar #bg{
  height:9vh;
  width:48vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin: 8vh;
  border-radius: 10vw;
  background-color: rgb(255, 255, 255);
  /* border: 0.15vw solid rgb(135, 228, 219); */
  box-shadow: 0vw 0vw 0.9vw rgba(184, 184, 184, 0.731);
}
#navbar #bg #link{
  font-size:1.20vw;
  padding:0.3vh 1vw;
  text-align: center;
  height:4.2vh;
  width:6.5vw;
  border-radius: 2vw;
  transition:all 0.4s ease-in-out;
  font-family: 'Heebo';
  /* font-weight: 500; */
  color:rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  box-shadow: 0vw 0vw 0.5vw rgb(221, 221, 221);
}
#navbar #bg #link:hover{
  /* background-color: rgb(234, 255, 253); */
  box-shadow: 0vw 0vw 0.5vw rgb(229, 229, 229);
  font-weight: bold;
  transition: 0.2s;
}
#navbar #resume-button{
  height:6vh;
  width:9vw;
  padding:1vh 0vw;
  border-radius: 0.5vw;
  font-size:1.1vw;
  text-align: center;
  background: linear-gradient(90deg,rgb(82, 82, 82),rgb(39, 39, 39));
  box-shadow: 0vw 0vw 0.3vw rgb(178, 178, 178);
  color:white;
  transition: all 0.3s;
}
#navbar #resume-button:hover{
  background: linear-gradient(90deg,rgb(39, 39, 39),rgb(39, 39, 39));
}
#menu{
  display: none;
}

#front-page{
  height:310vh;
  width:100%;
  background:linear-gradient(160deg,rgb(167, 254, 236) 6em,white 44em);
  position: relative;
}
#front-left-circle{
  position: absolute;
  width:35vw;
  opacity:0%;
  margin-left: 8vw;
  margin-top: 6vh;
  animation: front-left-circle-move 7s linear infinite;
  opacity:20%;
}
@keyframes front-left-circle-move{
  0%{
      margin-top: 6vh;
      opacity:00%;
  }
  20%{
      opacity:50%;

  }
  100%{
      margin-top: 40vh;
      opacity:0%;
  }
}
#front-name-photo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top:30vh;
  transform: translateY(-50%);
  left:50%;
  transform:translateX(-50%);
  z-index: 3;
  height:37vh;
  width:65vw;
  padding:2vh 1vw;
  font-family: 'Heebo';
}
#profile{
  width:20vw;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
#profile:hover{
  /* width:17vw; */
  transform: scale(1.1);
}
#hello{
  font-size: 3.5vw;
  font-weight: bold;
  font-family: "Century Gothic";
}
#welcome{
  font-size: 2.2vw;
  font-family: "Century Gothic";
  animation: welcome-move linear 3s;
}
#name{
  font-size: 2.8vw;
  font-weight: bold;
  font-family: "Century Gothic";
}

#front-para{
  position: absolute;
  top:78vh;
  transform: translateY(-50%);
  left:50%;
  transform: translateX(-50%); 
  /* height:28vh; */
  width:75vw;
  text-align: center;
  font-size: 1.5vw;
  font-family: 'Century Gothic';
}
#front-square{
  width:18vw;
  position: absolute;
  z-index: 1;
  margin-left: 75vw;
  margin-top: 90vh;
  opacity:40%;
}
#front-para #front-part2{
  /* height:200vh; */
  /* background-color: #ff9898; */
  margin: 0vw 0vw;
  padding:6vh;
}
#part2-heading{
  font-family: 'Century Gothic';
  font-weight: bold;
  font-size: 5.5vh;
  margin-bottom: 2vh;
}
#offer-bg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height:68vh; */
  width:100%;
  padding:2vh 4vw;
  margin-top: 2vh;
  border-radius: 2vw;
}
#offer-bg h1{
  padding:0.6vh 2.5vw;
  background: linear-gradient(90deg,rgb(86, 86, 86),rgb(40, 40, 40));
  color:rgb(255, 255, 255);
  border-radius: 2vw;
  box-shadow: 0vw 0vw 1.5vw rgb(226, 226, 226);
}
#front-part2 img{
  width:26vw;
  border-radius: 1vw;
  margin:4vh 2vw 2vh 2vw;
  opacity:0;
  animation: offer-image-move ease-in-out 8s infinite;
}
@keyframes offer-image-move{
  0%{
    margin-left: 0vw;
    opacity: 100%;
    filter:blur(0vw);
  }

  30%{
    margin-left: 20vw;
    opacity:100%;
    filter:blur(0vw);
  }
  70%{
    margin-left: -20%;
    opacity:100%;
    filter:blur(0.3vw);
  }
  100%{
    margin-left: 0vw;
    opacity: 100%;
    filter:blur(0);
  }

}
#front-part2 p{
  font-size: 1.6vw;
  line-height: 6vh;
}


/* PROJECTS */
#projects{
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width:100%;
  /* background-color: #fff; */
  background:linear-gradient(160deg,rgb(167, 254, 236) 6em,white 44em);
  /* background: linear-gradient(170deg,white,rgb(189, 247, 215),rgb(237, 255, 209),white); */
  padding:6vw 3vw;
}
#projects-heading{
  font-size: 2.5vw;
  font-weight: bold;
  font-family: 'Century Gothic';
}
#project-bg{
  border-radius: 2vw;
  margin: 3vw 0.5vw;
  padding:4vw 16vw;
  background-color: rgba(255, 255, 255, 0.414);
}
#project{
  width:60vw;
  border-radius: 1.5vw;
  background-color: #ffffff;
  /* background: linear-gradient(rgb(240, 240, 240), white); */
  box-shadow: 0px 0px 14px rgb(200, 200, 200);
  padding-bottom: 0.1vw;
  font-family: 'century Gothic';
}
#project #title-div{
  height:5vw;
  width:100%;
  display: flex;
  justify-content: space-between;
  padding:0vw 5vw;
  align-items: center;
  border-radius: 1.5vw 1.5vw 0vw 0vw;
  /* background-color: #282828; */
  color:white;
}
#project #title{
  font-size: 1.9vw;
  font-family: 'Century Gothic';
  padding:0.2vh 1.5vw;
  border-radius:2vw;
  color:rgb(255, 255, 255);
  cursor: default;    
  box-shadow: 0vw 0vw 0.5vw rgba(255, 255, 255, 0.827);
}
#project #visit-btn{
  height:2.2vw;
  width:6vw;
  font-size: 1vw;
  border-radius: 2vw;
  background-color: rgb(255, 255, 255);
  color:rgb(7, 7, 7);
  cursor: pointer;
  text-align: center;
  font-family: 'Heebo';
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 8px rgb(178, 178, 178);
}
#project #visit-btn:hover{
  box-shadow: 0px 0px 8px rgb(255, 255, 255);
}
#images-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  gap:1.7vw;
  margin:10vh 2vw 0vw 2vw;
}
#project #project-image{
  width:25vw;
  border-radius: 1.5vw;
  margin-bottom: 2vw;
  box-shadow: 0px 0px 6px rgb(212, 212, 212);
  opacity:70%;
  transition: all 0.25s ease-in-out;
  animation: project-image-move 2s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    scroll-behavior: smooth;
  /* margin-bottom:5vw; */
}
@keyframes project-image-move{
  0%{
    opacity:0;
    scale: 0;
  }
  30%{
    opacity:0.5;
    scale: 0.5;
  }
  100%{
    opacity: 1;
    scale:1;
  }
}
#project #project-image:hover{
  opacity:100%;
  transition:0.5s;
  width:35vw;
}
#project #detail{
  /* font-size: 1.3vw; */
  margin:3vw 1.5vw 1.5vw 1.5vw;
  padding:2vw 3vw;
  border-radius: 2vw;
  
}
#project #point{
  font-size: 1.4vw;
  margin:1vw 0vw;
  line-height: 4.3vh;
}


/* SKILLS */
#skills{
  padding:15vw 4vw 8vh 4vw;
  /* height:180vh; */
  background:linear-gradient(160deg,rgb(167, 254, 236) 6em,white 44em);
  /* flex-wrap: wrap; */
}
#skills-heading{
  font-size: 2.7vw;
  font-weight: bold;
  font-family: 'Century Gothic';
  text-align: center;
}
#skill{
  /* height:50vh; */
  margin:10vh 0vw;
}
#skill #logo-div{
  height:15vh;
}
#skill #logo{
  margin-bottom: 5vh;
  width:4.7vw;
  animation: skill-logo-move linear 1.5s infinite;
}
#skill #react-logo{
  margin-bottom: 5vh;
  width:4.7vw;
  animation: react-logo-move linear 2.8s infinite;
}
@keyframes react-logo-move{
  from{
    rotate: 0deg;
  }
  to{
    rotate: 360deg;
  }
}

@keyframes skill-logo-move {
  0%{
    rotate:10deg;
  }
  33%{
    rotate: 0deg;
  }
  55%{
    rotate:-10deg;
  }
  100%{
    rotate: 10deg;
  }
}
#skill #next-logo{
  width:5.5vw;
  margin-bottom: 4vh;
  margin-top: 1.3vh;
  animation: skill-logo-move linear 1.5s infinite;
}
#skill #para{
  width:21vw;
  /* height:23vw; */
  padding:2vw;
  line-height: 5vh;
  font-size: 1.3vw;
  font-family: 'Century Gothic';
  border-radius: 1vw;
  background-color:rgb(255, 255, 255);
  box-shadow: 0vw 0vw 1vw rgb(228, 228, 228);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#skill #para:hover{
  box-shadow: 0vw 0vw 1vw rgb(211, 211, 211);
  background-color:rgb(255, 255, 255);
  transform: scale(1.15);
}

/* ABOUT ME */
#about{
  /* height:70vw; */
  width:100%;
  padding:20vh 1vw 0vh 1vw;
  position:relative;
  background:linear-gradient(160deg,rgb(167, 254, 236) 6em,white 44em);
}
#about-right-circle{
  width:20vw;
  position: absolute;
  left:70%;
  opacity:50%;
}
#about-left-circle{
  width:8vw;
  position: absolute;
  /* left:2.5%;
  bottom:20%; */
  margin-bottom: 10vh;
  opacity:20%;
  filter:blur(0.5)
}
#about #who-i-am{
  /* text-center text-3xl font-bold font-'Heebo; */
  text-align: center;
  font-size: 2.7vw;
  font-weight: bold;
  font-family: 'Century Gothic';
}
#about-para{
  font-size: 1.6vw;
  line-height:6.1vh;
  font-family: 'Century Gothic';
  margin:1vw 15vw;
  /* position: absolute; */
  z-index: 3;
}


/* CONTACT */
#contact{
  height:37vw;
  width:100%;
  padding:24vh 4vw 0vh 4vw;
  background: linear-gradient(white,rgb(183, 249, 236));
}
#contact-heading{
  font-size: 2.3vw;
  font-family: 'Century Gothic';
}
#accounts-div{
  background-color: rgba(255, 255, 255, 0.676);
  height:20vh;
  padding: 2vh 6vw;
  margin: 0vh 8vw;
  border-radius: 1vw;
}
#account{
  display: flex;
  flex-direction: column;
  align-items: center;
  height:10vh;
  margin:0vh 4vw;
  gap:0.6vw;
  font-family: 'Century Gothic';
}
#account h1{
  font-size: 1.2vw;
}
#account #logo{
  width:2.3vw;
}
#account #logo:hover{
  rotate:360deg;
  transition: 0.8s;
  
}


/* 
@media (max-width: 360px)
{
  #navbar #bg{
    display: none;
    background-color: green;
  }
  #navbar{
    justify-content: space-between;
    padding:0vh 6vw 0vh 8vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0vw 0vw 4vw rgb(183, 183, 183);
    height:11vh;
    z-index: 8;
    width:100%;
  }
  #menu-button{
    display: block;
  }
  #navbar #resume-button{
    width:16.5vh;
    height:5.2vh;
    font-size: 2.2vh;
    border-radius: 10vh;
  }
  #menu{
    display: none;
    height:29vh;
    width:100%;
    position: absolute;
    box-shadow: 0vw 0vw 4vw rgb(147, 147, 147);
    z-index: 7;
    padding:2vh 0vw;
    margin-bottom: 2vh;
    text-align: center;
    animation: menu-move 0.3s;
  }
  @keyframes menu-move{
    from{
      margin-top: -20vh;
    }
    to{
      margin-top: 0vh;;
    }
  }
  #menu ul{
    margin-top: 9.7vh;
    box-shadow: 0vw 0vw 4vw rgb(172, 172, 172);
  }
#menu li{
  font-size: 2.8vh;
  width:100%;
  padding:0.8vh 6vh;
  margin-bottom: 0.5vh;
  background-color: rgb(255, 255, 255);
};

  #front-page{
    height:35vh;
  }
  #front-right-circle{
    width:36vw;
    right:10%;
    top:-1.2vw;
  }
  #front-name-photo{
    top:20vh;
    padding:0vh 0vw;
    width:70vw;
    justify-content: center;
  }
  #profile{
    width:35vw;
  }
  #hello,#name{
    font-size:6.5vw;
    margin:1.5vh 0vw;
    width:45vw;
    line-height: 5vh;
  }
  #welcome{
    font-size: 4.8vw;
    line-height: 4vh;
  }
  #front-para{
    font-size: 4.5vw;
    line-height: 6vh;
  }
  #front-part2{
    padding:2vh 0vw;
  }
  #part2-heading{
    font-size: 7vw;
  }
  #offer-bg{
    margin:0vw;
    padding:2vh 0vw;
    transform: scale(1.4);
  }
  
  #offer-bg h1{
    font-size: 2.7vw;
    height:5.5vw;
    padding:0vw 3vw;
    display: flex; justify-content: center; align-items: center;
    border-radius: 5vw;
    margin-top: 4vh;
  }
  #offer-bg img{
    width:40vw;
    margin:4vh 2vw;
  }

  #front-part2 p{
    font-size: 4.4vw;
    line-height: 4.2vh;
    margin:3vh 0vw;
    width:100%;

  }
  #front-part2 #heading{
    padding:0vw;
  }
  #contact{
    margin-top: 10vh;
    height:75vh;
  }
  #contact-heading {
    font-size: 5vw;
  }
  #accounts-div{
    height:10vh;
    flex-direction: column;
    align-items: center;
    gap:2vh;
    background:none;
  }
  #account{
    height:8vh;
    flex-direction: row;
    gap:2vw;
    justify-content: start;
    align-items: center;
  }
  #account #logo{
    width:5.5vw;
  }
  #account h1{
    font-size:3vw;
  }

  #projects{
    padding:2vh;
  }
  #projects-heading{
    font-size: 5vh;
  }
  #images-div{
    flex-direction: column;
    height:95vh;
    margin-top: 4vh;
  }
  #project{
    width:80vw;
  }
  #projects #heading{
    font-size: 4vh;
    font-weight: bold;
  }
  #project #title-div{
    height:8vh;
  }
  #project #title{
    font-size: 3vw;
    border-radius: 10vw;
    line-height: 2vh;
    padding: 1vh 2vh;
  }
  #project #project-image{
    width:65vw;
    animation: project-image-move 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    scroll-behavior: smooth;
  }
  @keyframes project-image-move{
    from{
      opacity:0;
      scale: 0;
    }
    to{
      opacity: 1;
      scale:1;
    }
  }

  #project #visit-btn{
    font-size: 3vw;
    height: 3vh;
    width: 12vw;
    border-radius: 5vw;
  }
  #project #detail{
    margin:3vh 2vw 2vw 2vw;
  }
  #project #point{
    font-size: 2.5vw;
    line-height: 3vh;
  }

  #skills{
    padding-top: 25vh;
    
  }
  #skill{
    margin:0vh 0vw;
  }
  #skills-box{
    flex-direction: column;
  }
  #skills-heading{
    font-size: 5.5vh;
    font-family: 'Century Gothic';
  }
  #skill #logo{
    width:9vh;
  }
  #skill #react-logo{
    width:9vh;
  }
  #skill #next-logo{
    width:11vh;
    margin-top: 6vh;
  }
  #skill #para{
    width:70vw;
    padding:6vw 5vw;
    font-size: 2.6vh;
    text-align: center;
    box-shadow: 0vw 0vw 3vw rgb(204, 204, 204);
    border-radius: 3vw;
  }
  #about{
    padding-top: 10vh;
  }
  #about #who-i-am{
    font-size: 7vw;
  }
  #about-para{
    font-size: 3vh;
    z-index: 1;
  }
} */





@media (max-width:540px)
{
  #navbar #bg{
    display: none;
    background-color: green;
  }
  #navbar{
    /* gap: 50vw; */
    justify-content: space-between;
    /* margin-top: 5vh; */
    padding:0vh 6vw 0vh 8vw;
    /* position: fixed; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0vw 0vw 4vw rgb(183, 183, 183);
    height:20vw;
    z-index: 8;
    width:100%;
  }
  #menu-button{
    display: block;
    transform: scale(2.2);
  }
  #navbar #resume-button{
    width:30vw;
    height:8vw;
    font-size: 3.6vw;
    border-radius: 10vh;
    padding: 1.2vw;
  }
  #menu{
    display: none;
    height:35vw;
    width:100%;
    position: absolute;
    z-index: 7;
    top:10.4%;
    padding:2.7vw 0vw;
    margin-bottom: 2vh;
    text-align: center;
    /* background-color: rgba(158, 240, 236, 0); */
    animation: menu-move 0.3s;
  }
  @keyframes menu-move{
    from{
      margin-top: -20vh;
    }
    to{
      margin-top: 0vh;;
    }
  }
  #menu ul{
    /* margin-top: 10.6vh; */
    box-shadow: 0vw 0vw 12vw rgb(60, 252, 223);
  }
#menu li{
  /* height:3vh; */
  font-size: 5.3vw;
  width:100%;
  padding: 1vw 6vh;
  margin-bottom: 1.2vw;
  background-color: rgb(255, 255, 255);
};

#front-page{
    height:50vw;
  }
  
  #front-name-photo{
    top: 45vw;
    padding:0vh 0vw;
    height:60vw;
    width:70vw;
    justify-content: center;
  }
  #profile{
    width:38vw;
  }
  #hello,#name{
    font-size:7.5vw;
    margin:5vw 0vw;
    width:45vw;
    line-height: 9vw;
  }
  #welcome{
    font-size: 5.2vw;
    line-height: 7.5vw;
  }
  #front-para{
    font-size: 5.5vw;
    line-height: 9vw;
    top:130vw;
    /* margin-top: 6vw; */
  }
  #front-part2{
    padding:4vw 0vw;
    margin:2vw 0vw;
  }
  #part2-heading{
    font-size: 8vw;
  }
  #offer-bg{
    margin:0vw;
    padding:4vw 0vw;
    /* transform: scale(1.4); */
  }
  
  #offer-bg h1{
    font-size: 4vw;
    height:8vw;
    width:50vw;
    /* padding:4vw 4.8vw; */
    display: flex; justify-content: center; align-items: center;
    border-radius: 5vw;
    margin-top: 2vw;
  }
  #offer-bg img{
    width:60vw;
    margin:8vw 2vw;
  }

  #front-part2 p{
    font-size: 5vw;
    line-height: 8vw;
    margin:4vw 0vw;
    width:140%;
    margin-left: -10vw;
    }
  #front-part2 #heading{
    padding:0vw;
    /* text-align: center; */
  }
  #contact{
    /* margin-top: 12vw;
    padding-top: 15vw;
    height:75vw; */
     /* margin-top: 4vw; */
    height: 60vh;
  } 
  #contact-heading {
    font-size: 5vw;
    font-weight: bold;
  }
  #accounts-div{
    height:15vw;
    flex-direction: column;
    align-items: center;
    gap:1vw;
    background:none;
  }
  #account{
    height:12vw;
    flex-direction: row;
    gap:2vw;
    justify-content: start;
    align-items: center;
  }
  #account #logo{
    width:5.5vw;
  }
  #account h1{
    font-size:4.2vw;
  }

  #projects{
    padding:2vh;
    padding-top: 17vw;
    /* position: fixed; */

  }
  #projects-heading{
    font-size: 5vh;
    margin-bottom: 6vw;
  }
  #images-div{
    flex-direction: column;
    height: 130vw;
    margin-top: 6vw;
  }
  #project{
    /* height:120vh; */
    width:80vw;
  }
  #projects #heading{
    font-size: 4vh;
    font-weight: bold;
  }
  #project #title-div{
    height:7vh;
  }
  #project #title{
    font-size: 3.2vw;
    border-radius: 10vw;
    line-height: 2vh;
    padding: 1vh 2vh;
  }
  #project #project-image{
    width:65vw;
    animation: project-image-move 2s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    scroll-behavior: smooth;
  }
  @keyframes project-image-move{
    from{
      opacity:0;
      scale: 0;
    }
    to{
      opacity: 1;
      scale:1;
    }
  }

  #project #visit-btn{
    font-size: 3vw;
    height: 3vh;
    width: 12vw;
    border-radius: 5vw;
  }
  #project #detail{
    margin:3vh 2vw 2vw 2vw;
  }
  #project #point{
    font-size: 2.5vw;
    line-height: 4vw;
  }

  #skills{
    /* height: 305vh; */
    padding-top: 40vw;
    
  }
  #skill{
    margin:4vw 0vw;
  }
  #skills-box{
    flex-direction: column;
    gap:10vw;
  }
  #skills-heading{
    font-size: 9vw;
    font-family: 'Century Gothic';
  }
  #skill #logo{
    width:15vw;
  }
  #skill #logo-div{
    margin-bottom: -5vw;
    height:25vw;
  }
  #skill #react-logo{
    width:15vw;
  }
  #skill #next-logo{
    width:20vw;
    margin-top: 4vw;
  }
  #skill #para{
    width:65vw;
    padding:6vw 5vw;
    font-size: 4.5vw;
    text-align: center;
    box-shadow: 0vw 0vw 3vw rgb(204, 204, 204);
    border-radius: 3vw;
    line-height: 8vw;
  }
  #about{
    /* height:150vh; */
    padding-top: 30vw;
  }
  #about #who-i-am{
    font-size: 9vw;
  }
  #about-para{
    font-size: 5vw;
    line-height: 8vw;
    z-index: 1;
  }

  }
